/*
wood brown: A89F68;
army green: 41521F;
*/

.first-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.logo{
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	padding: 0 16rem;
	cursor: pointer;
}

.letras ul li a{
	color: #fff;
}

#sumo{
	padding-top: 18em;
	margin-right: 2rem;
}

.first-section h1{
	color: #fff;
	font-weight: 900;
	font-size: 40px;
}

#showApp{
	color: #fff;
	font-weight: 200;
	font-size: 14px;
}

.btn-primary{
	color: #fff;
	background-color: #41521F;
	border-color: #41521F; 
}

.btn-primary:hover{
	color: #fff;
	background-color: #5e772b;
	border-color: #5e772b; 
}

.second-section{
	padding: 15px;
	width: 100%
	height:100vh;
	background-color: #fff;
}

.tres{
	width: 85%;
	padding: 5rem;
	float: right;
}

.pequeño{
	margin-top: 12rem;
	font-size: 12px;
	color: #656860;
}

.koalas{
	font-size: 24px;
	color: #939349;
	font-weight: 900;
}

.peq{
	font-size: 12px;
	color: #656860;
}

.koa{
	font-size: 16px;
	color: #939349;
	font-weight: 900;
}

.fuentes{
	font-size: 11px;
	color: #656860;
}
/*Tercera seccion*/

.three-section{
background-color: #a89f68;
width: 100%;
padding: 4rem;
}


.btn-secondary{
	color: #fff;
	background-color: #41521F;
	border-color: #41521F; 
}

.btn-secondary:hover{
	color: #fff;
	background-color: #5e772b;
	border-color: #5e772b; 
}
.primero{
	color: white;
	font-weight: 200;
}

.save{
	color:#41521f;
	font-weight: 900;
}

.text{
	color: white;
	font-weight: 200;
}

.img-responsive{
	border: 10px solid #fff;
	width: 100%;
}

/*CUARTA seccion*/


.four-section{
width: 100%
}


.carousel{
	width: 100%
}

.navbar-default{
	margin: 0;
}
.cuarta{
color: white;
margin-top: 5em;
text-align:right;
}

/*Quinta seccion*/

.five-section{
	width: 100%;
	background-color: #fff;
	padding: 6rem;
}

.fa{
	font-size: 6rem;
	padding: 2rem;
	color: #939349;
}

/*sexta seccion*/

.six-section{
	background-color: #a89f68;
	width: 100%;
	padding: 6rem;
}

.gigante{
	color:white;
	font-size: 50px;
	font-weight: 900;
}

footer{
	background-color: #41521f;
	padding: 6rem;
	width: 100%;
	color: #a89f68;
}

.abajo{
	display: inline-block;
}


.abajo ul li{
	list-style: none;
}

.abajo ul li a{
	color: #a89f68;
}

.abajo ul li a:hover{
	color: #fff;
}

.parrafofin{
	color: #fff;
}